<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>
        <div class="container">
            h3(class="text-center")= "Vikiran Back-End"
            br
            <form id="form_admin">
                <label for="data1" style="margin-right:1.5vw">Society Name</label>
                <input type="text" placeholder="Society Name" id="data1" name="society"><br>
                <label for="data2" style="margin-right:1.5vw">Event Name</label>
                <input type="text" placeholder="Event Name" id="data2" name="event"><br>
                <label for="data3" style="margin-right:1.5vw">Co-ordinater 1</label>
                <input type="text" placeholder="Co-ordinator" id="data3" name="c1"><br>
                <label for="data4" style="margin-right:1.5vw">Co-ordinator 2</label>
                <input type="text" placeholder="Co-ordinator 2" id="data4" name="c2"><br>
                <label for="data5" style="margin-right:1.5vw">Rules</label>
                <textarea type="text" placeholder="Rules" id="data5" name="rules"></textarea><br>
                <label for="data6" style="margin-right:1.5vw">Venue</label>
                <input type="text" placeholder="Venue" id="data6" name="venue"><br>
                <label for="data7" style="margin-right:1.5vw">Type of competition</label>
                <input type="radio" id="data7" name="type" value="Intra">Intra
                <input type="radio" id="data7" name="type" value="Inter">Inter<br>
                 <label for="data8" style="margin-right:1.5vw">Date</label>
                <input type="date" placeholder="Date" id="data8" name="date"><br>
                <label for="data9" style="margin-right:1.5vw">Time</label>
                <input type="time" placeholder="Time" id="data9" name="time"><br>
                <input id="sub" type="submit">
            </form>

            <a href="/competition1"><button>Intra</button></a>
            <a href="/competition2"><button>Inter</button></a>

        </div>

        <script src="./vikiran.js"></script>
    </body>
</html>