<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>
        <div class="container">
            h3(class="text-center")= "Vikiran Back-End"
            br
            <form id="form_admin">
                <label for="name" style="margin-right:1.5vw">Society Name</label>
                <input type="text" placeholder="Society Name" id="data1" name="name"><br>
                <label for="president" style="margin-right:1.5vw">President Name</label>
                <input type="text" placeholder="President Name" id="data2" name="president"><br>
                <label for="data3" style="margin-right:1.5vw">Data3</label>
                <input type="text" placeholder="Data3" id="data3" name="data3"><br>
                <label for="data4" style="margin-right:1.5vw">Data4</label>
                <input type="text" placeholder="Data4" id="data4" name="data4"><br>
                <label for="data5" style="margin-right:1.5vw">Data5</label>
                <input type="text" placeholder="Data5" id="data5" name="data5"><br>
                <input id="sub" type="submit">
            </form>

            <a href="/competition1"><button>Intra</button></a>
            <a href="/competition2"><button>Inter</button></a>

        </div>

        <script src="./vikiran.js"></script>
    </body>
</html>