<!DOCTTYPE html>
<html>
    include header.pug    
    <body>

        -function Competition(events)
            div(class="container text-center")
                div(class="pad")
                    h3(class="content1")= "Events"
                    div(class="row")
                        each r in events                           
                                br
                                a(href="/event/"+r.Event_Name class="card1")
                                    div(class="card-image")
                                    <div class="card-text"> 
                                        h3= r.Society_Name 
                                        h2= "Event : "+r.Event_Name
                                    </div>            
        <div class="color">
            -Competition(events)
        </div>  

        <script src="../vikiran.js"></script>

    </body>
</html>