<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>
        
        -function Competition(events,type)
            br
            h3(class="text-center")= type+"-Competition"
            div(class="row")
                each r in events
                    div(class="col-4")
                        br
                        div(class="card" style="width: 18rem;")
                            div(class="card-body")
                                h5(class="card-title text-center")= "Society : "+r.Society_Name  
                                h6(class="card-subtitle mb-2 text-muted text-center")= "Event : "+r.Event_Name
                                a(href="/event/"+r.Event_Name class="card-link")= "More Info"    

        <div class="container">
            -Competition(events,type)
        </div>  

        <script src="../vikiran.js"></script>

    </body>
</html>