<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>
    div(class="color")
  
        div(class="container text-center")
            div(class="pad")
                h3(class="content pad")=  "Vikiran Registration"
                div(class="pad")
                    h4(class="content")=  "Select the type"
                div(class="row" style="padding-top:20vh")
                    div(class="col-sm-6")
                        <a href="/competition/Intra"><button class="btn1">Intra</button></a>

                    div(class="col-sm-6")
                        <a href="/competition/Inter"><button class="btn1">Inter</button></a><br>
        
        <script src="./vikiran.js"></script>
    </body>
</html>