<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>

        -var html_names=['Name','College Name','E-Mail','Contact No.'];
        -var names= ['name','college_name','email','contact'];
        -var types= ['text','text','email','number'];
        <div class="container">   
            <h3 class="text-center">Registration</h3> 
            <form id="form_register">
                -for(var i=1;i<=4;i++)
                    label(for="data"+i style="margin-right:1.5vw")= html_names[i-1]
                    input(type=types[i-1] placeholder=html_names[i-1] id="data"+i name=names)
                    br
                <input id="sub" type="submit">
            </form>
        </div>   

        <script src="../vikiran.js"></script>
    </body>
</html>